.founder-container
    color: white
    background-color: #fff

    .founder-img
        width: 95px
        height: 100px
        margin: 0 auto
        border-radius: 5px
        position: relative
        top: 40px
        overflow: hidden

    .des-container
        width: 81%
        height: 70%
        background-color: #149cc7
        margin: 0 auto
        border-radius: 28px
        padding: 0 31px
        color: #e8e8e8
        font-style: italic
        padding-bottom: 35px

        .founder-role
            text-align: center
            padding-top: 50px

        .founder-message
            text-align: center
            padding: 10px 0px