<div class="about-header">
  {{ this._aboutHeader }}
</div>
<div class="content-container">
  <div class="goal-container">
    <div class="goal-heading">
      <h1>{{ _goalHeading }}</h1>
    </div>
    <div class="goal-content">
      <p>{{ _goalContent }}</p>
    </div>
  </div>
  <div class="mission-container">
    <div class="mission-header">
      <h1>{{ _missionHeader | uppercase }}</h1>
    </div>
    <div class="mission-content">
      <ul>
        <li *ngFor="let point of _missionContent ">{{ point }}</li>
      </ul>
    </div>
  </div>
</div>