<div class="social-container">
    <ul class="links">
      <li>
        <a class="social-block facebook-link"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a class="social-block twitter-link"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a class="social-block insta-link"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a class="social-block gplus-link"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a class="social-block utube-link"><i class="fa fa-youtube"></i></a>
      </li>
    </ul>
</div>