header
    position: relative;
    height: 50px;
    border-bottom: 1px solid gray;
    nav
        position: absolute;
        top: 10%;
        left: 30%;
        ul
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li 
                display: inline-block;

                a 
                    text-decoration: none;
                    padding: 10px 10px;
                    display: block;
                    cursor: pointer;
    .logo
        position: absolute;
        top: 10%;
        color: blue;
        font-size: 2em;
        vertical-align: middle;
        
