header
    background: #fff
    width: 100%
    min-height: 76px
    border-bottom: 4px solid #4C9CF1
    //z-index: 1000 - remove until everything else is working

#logo
    font-family: Helvetica, Arial, sans-serif

nav
    position: absolute
    width: 80%
    max-width: 260px
    right: 0px
    margin-top: 25px

    &.show-sidebar
        display: none

    ul
        list-style: none
        background-color: grey

    li
        padding: 10px
        width: 100%
        padding: 10px 0
        margin: 0
        text-align: left

        a
            padding: 0 12px

#menu-icon
    display: inline-block
    width: 40px
    height: 40px
    background: #4C8FEC
    float: right
    margin-top: 15px

a:hover#menu-icon
    background-color: #444
    border-radius: 4px 4px 0 0

.active
    color: #2262AD

.country-toggle
    display: inline-block
    background-color: black
    width: 50px
    height: 50px