.widget-img-container
    max-height: 900px
    min-height: 304px
    background-color: black
    .widget-img
        height: 70%
        background-color: yellow
    
    .widget-thumbnails
        height: 30%
        background-color: red