<div class="widget-img-container" [style.height]="sliderHeight">
  <div class="widget-images">
    <div class="widget-img" 
         style="background-image: url('/assets/images/home_header_img_1.png');" 
         [class.active]="0 == activeImageIndex"></div>
    <div class="widget-img" 
         style="background-image: url('/assets/images/home_header_img_2.png');" 
         [class.active]="1 == activeImageIndex"></div>
    <div class="widget-img" 
         style="background-image: url('/assets/images/home_header_img_3.png');" 
         [class.active]="2 == activeImageIndex"></div>
  </div>
</div>