/* You can add global styles to this file, and also import other style files */
/* Global Defaults
/* RESET */
html
  margin: 0px
  padding: 0px
  border: 0px

body
  margin: 0px
  padding: 0px
  border: 0px
  font: 1em/1.25 Arial, Helvetica, sans-serif

/* Headlines

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  font-weight: normal
  font-family: Arial, Helvetica, sans-serif

/* Text Styles

p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea
  margin: 0
  padding: 0
  font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif

blockquote
  margin: 1.25em
  padding: 1.25em

q
  font-style: italic

acronym, abbr
  cursor: help
  border-bottom: 1px dashed

small
  font-size: .85em

big
  font-size: 1.2em

/* Links and Images

a
  text-decoration: none
  &:link, &:visited, &:active, &:hover
    text-decoration: none

img
  border: none

/* Tables

table
  margin: 0
  padding: 0
  border: none

/* END RESET */

/* MAIN */

body
  font-size: 1.05em
  line-height: 1.25em
  font-family: Helvetica Neue, Helvetica, Arial
  background: #f9f9f9
  color: #555;

a
  color: #4C9CF1
  text-decoration: none
  font-weight: bold
  cursor: pointer

a:hover
  color: #444

img 
  width: 100%

/* Apply Boxsizing to all elements */
*
  -webkit-box-sizing: border-box
     -moz-box-sizing: border-box
          box-sizing: border-box