.team-container
    .team-item-block
        border: 1px solid blue
        width: 80%
        padding: 2em
        margin: 2em auto

        .team-pic
            float: left
            border: 1px solid black
            padding: 0.3em